body {
    background: rgba(40,43,48,.75);
    backdrop-filter: blur(10px);
        border-radius: 16px;
        margin: 0;
        padding: 10px;
        min-height: 400px;
        min-width: 400px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        font-family: Open Sans, 'Comic Sans MS', cursive;
        -webkit-user-drag: none;
        user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        overflow: hidden;
    }
    
    .main-wnd {
        width: 100%;
        height: calc(100vh - 20px);
        border-radius: 13px;
        padding: 6px;
        background-color: white;
        position: relative;
        flex-grow: 1;
        box-sizing: border-box;
        box-shadow: 0 0 9px 1px rgba(66, 66, 66, 0.66);
        display: flex;
        flex-direction: column;
    }
    
    
    header {
        background-color: #555555;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
    header > span {
        flex-grow: 1;
    }
    
    text {
        font-family: Open Sans, 'Comic Sans MS', cursive;
    }
    
    section {
        background-color: #70707082;
        opacity: 0.91;
        padding: 8px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        /*margin-top: 12px;*/
        overflow: hidden;
        /*min-height: 187px;*/
    }
    .section-header {
        margin-left: -8px;
        margin-top: -8px;
        display: flex;
    }
    .section-title {
        background-color: #555555;
        padding: 5px 10px 7px 10px;
        border-bottom-right-radius: 10px;
    }
    .section-switch {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-left: 14px;
    }
    .section-switch-item {
        width: 16px;
        height: 16px;
        background-color: #555555;
        border-radius: 50%;
        margin-right: 6px;
    }
    .section-switch-item:hover {
        background-color: #ffffff;
    }
    .section-body {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
    
        overflow: auto;
    }
    
    .section-body::-webkit-scrollbar {
        width: 8px;
    }
    
    .section-body::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.67);
        border-radius: 20px;
    }
    
    .section-body .no-files {
        width: 100%;
        flex-grow: 1;
        align-self: stretch;
        display: none;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        height: calc(100vh - 50px);
    }
    .section-body .no-files:first-child {
        display: flex;
    }
    .link-item {
        width: 118px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        border-radius: 16px;
        -webkit-user-drag: element;
        user-drag: element;
        -webkit-user-select: none;
        user-select: none;
        position: relative;
    }
    
    .link-item:hover {
        background-color: rgba(0, 0, 0, 0.13);
    }
    
    .link-img {
        width: 124px;
        height: 124px;
    
        -webkit-user-drag: none;
        user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: 124px;
    }
    .link-name {
        text-transform: uppercase;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /*word-break: break-all;*/
        text-align: center;
        font-size: 12px;
        padding: 5px 0;
    
        pointer-events: none;
    }
    
    .link-drop{
        position: absolute;
        pointer-events: none;
        top: 38px;
        left: 34px;
        /* bottom: 38px; */
        right: 34px;
        height: 74px;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.61);
        background-image: url(img/icon_CopyFile.png);
        background-size: 60px;
        transition: opacity 0.2s;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 9px;
        //background-size: contain;
    }
    
    .link-item.drops .link-drop {
        opacity:  1
    }
    
    .app-settings-overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        transition: all 0.5s;
        pointer-events: none;
        opacity: 0;
    }
    
    .app-settings-overlay img {
        -webkit-user-drag: none;
    }
    
    .app-settings-overlay.shown {
        pointer-events: all;
        opacity: 1;
    }
    
    
    .app-settings {
        width: 400px;
        background-color: #707070;
        border-radius: 20px;
    }
    
    .app-settings-header {
        padding: 14px 20px 10px 20px;
        background-color: #525252;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        text-transform: uppercase;
        font-size: 22px;
    }
    
    .app-settings-row {
        display: flex;
        align-items: center;
        padding: 0 20px 18px 20px;
    }
    .app-settings-row:nth-child(2) {
        padding-top: 18px;
    }
    .app-settings-label {
        flex-grow: 1;
    }
    
    #app-settings-files-max .app-settings-label {
        text-align: center;
    }
    
    .app-settings-keycode {
        user-select: none;
        cursor: pointer;
        min-width: 106px;
        overflow: hidden;
    }
    
    .app-settings-keycode > button {
        width: 100%;
        padding: 4px;
        position: relative;
        text-align: center;
        z-index: 0;
        color: black;
        background-color: white !important;
        border:none;
        pointer-events: none;
    }
    
    .app-settings-keycode.active > button {
        border: solid 1px #f3c0b0 !important;
    }
    
    .app-settings-keycode.active > button:before {
        content: "";
        position: absolute;
        top:    1px;
        right:  1px;
        bottom: 1px;
        left:   1px;
        background-color: white;
        z-index: -1;
    
        animation: .15s orange-to-white-bg ease-out;
    }
    .app-settings-keycode.active > button:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        transform-origin: top left;
        animation: 2s rotanimation infinite linear;
        z-index: -2;
    
        background-color: rgb(181, 65, 28);
        box-shadow: 0 0 4px 4px #b5411c;
    }
    @keyframes rotanimation {
        0%   { transform: rotate(0deg) translateX(0) translateY(0); }
        100% { transform: rotate(360deg) translateX(0) translateY(0); }
    }
    @keyframes orange-to-white-bg {
        0% {
            background-color: #b5411c;
            transform: scale(1.5);
        }
        100% {
            background-color: white;
            transform: scale(1);
        }
    }
    
    .app-settings-row-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px 18px 20px;
    }
    .app-settings-button {
        background-color: white;
        color: black;
        padding: 6px;
        border-radius: 4px;
        border: none;
    }
    
    .drop-zone-input {
        position: absolute;
        z-index: -1;
        top: -200px;
        left: 0;
    }
    
    #drop-overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    
        border: dotted 5px rgba(0,0,0,0);
    
        border-radius: 16px;
        pointer-events: none;
        transition: all 0.1s;
    
    }
    #drop-overlay.drop-zone-border {
        border: dotted 5px rgba(0, 0, 0, 0.78);
    }
    
    .app-social-row {
        margin-top: 20px;
        background-color: #ffffff21;
        padding: 7px;
        width: 395px;
        display: flex;
        box-sizing: border-box;
        height: 61px;
        border-radius: 9px;
        opacity: 0.50;
    }
    .app-social-btn {
        width: 49px;
        height: 48px;
        background-color: #ffffff17;
        margin-right: 4px;
        padding: 7px;
        box-sizing: border-box;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s;
    }
    
    .app-social-btn:hover {
        background-color: rgba(255, 255, 255, 0.8);
        transform: scale(1.2);
    }
    
    .app-social-btn:last-child {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }
    
    .app-social-btn:last-child span:first-child {
        flex-grow: 1;
        color: #000000c7;
        font-size: 18px;
        text-align: center;
        font-weight: bolder;
    }
    .app-social-btn:last-child span:nth-child(2) {
        color: #0000009c;
        font-size: 11px;
        text-align: center;
    }
    
    .menu {
        width: 160px;
        box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
        position: absolute;
        display: none;
        background-color: white;
        color: black;
    }
    .menu .menu-options {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .menu-options .menu-option {
        font-weight: 500;
        font-size: 14px;
        padding: 8px 40px 8px 20px;
        cursor: pointer;
    }
    .menu-options .menu-option:hover {
         background: rgba(0, 0, 0, 0.2);
     }